@charset "utf-8";
/* CSS Document */
/* 样式重置 */
body,h1,h2,h3,h4,h5,h6,p,dl,dd,th,td,textarea,select,input,form,ul,ol,a{margin:0;padding:0;}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: top;}
table{border-collapse: collapse;}
input,textarea{outline: none;}
textarea{resize: none;overflow: auto;}
body{font-size: 12px;font-family: "微软雅黑";}
/* public */
.clear{zoom:1;}
.clear:after{content: '';display: block;clear: both;}
.fl{float: left;}
.fr{float: right;}
.title .line{width:396px;margin-top:1px solid #e5e5e5;}
.title .text{width:;height:;background:url(../images/as_16.png)